.randomIcon {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  cursor: pointer;
  transition: all 0.2s;
}

.randomIcon:hover,
.randomIcon:focus-focus {
  color: white;
}
