.flag {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  cursor: pointer;

  filter: saturate(0);
  transition: all 0.2s;

  text-decoration: none;
}

.flag:hover,
.flag:active,
.flag:focus-visible {
  filter: saturate(1);
  text-decoration: none;
}
