.guess,
.guess:hover,
.guess:active,
.guess:focus-visible,
.guess:visited {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  text-decoration: none;
}

.guess + svg {
  color: var(--dictionary-color);
  transition: all 0.2s;
}

.guess:hover + svg,
.guess:focus-visible + svg,
.guess:active + svg {
  color: var(--link-color);
}
