.blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  border: 1px solid #999a;
  border-radius: 4px;
  background-color: var(--background-color);
  padding: 4px;
}

@media (max-width: 500px) {
  .container {
    width: calc(100% - 10px);
  }
}

.header {
  width: 100%;
  border-bottom: 1px solid #ccca;
  padding: 4px 0;
  font-size: 16pt;
  text-align: center;
}

.header > button {
  float: right;
  height: 100%;
  line-height: 100%;
  font-size: 16pt;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-left: 1px solid #ccca;
  cursor: pointer;
  color: var(--letter-color);
}

.contents {
  padding: 4px;
}
