.container {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .grid {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: repeat(7, min-content);
  }
}
