.letter {
  width: 50px;
  height: 50px;
  border: 2px solid var(--letter-border);
  margin: 2px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 20pt;

  color: var(--letter-color);
}

.yes {
  background-color: var(--yes-color);
}

.maybe {
  background-color: var(--maybe-color);
}

.no {
  background-color: var(--no-color);
}
