.letter {
  border-radius: 4px;
  width: 40px;
  height: 45px;
  border: 1px solid #999a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yes {
  background-color: var(--yes-color);
}

.maybe {
  background-color: var(--maybe-color);
}

.no {
  background-color: var(--no-color);
}

.unknown {
  background-color: var(--unknown-color);
}

@media (max-width: 500px) {
  .letter {
    width: unset;
    flex: 1;
  }
}

@media (pointer: coarse) {
  .letter {
    height: 55px;
  }
}
