.container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.gameNumber {
  color: #999;
  font-size: 0.9em;
}
