.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  .message {
    padding: 8px;
    color: #999;
  }

  .count {
    color: var(--letter-color);
  }
}
