.overlay {
  background-color: var(--end-background-color);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  text-align: center;
}

.overlay h2 {
  font-size: 2em;
  letter-spacing: 0.2rem;
  margin: 0;
  padding: 0;
}

.newGame {
  margin-top: 8px;
  font-size: 1.5em;
  padding: 4px;
}

.emoji {
  font-size: 3em;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

  gap: 8px;
}

.actions button {
  padding: 4px 8px;
  font-size: 2em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: color 0.2s;
  gap: 4px;

  border-radius: 8px;
  border-width: 1px;
  background: transparent;
}
