:root {
  --letter-color: #000;
  --letter-color-rgb: 0, 0, 0;
  --letter-border: #000a;
  --background-color: #fff;
  --hover-color: #eee;
  --error-background-color: #ffb8b3;
  --end-background-color: rgb(255, 255, 255, 0.5);
  --yes-color: #186622;
  --maybe-color: #fcba03;
  --no-color: #ddda;
  --unknown-color: #999a;
  --link-color: #0aacf2;
  --dictionary-color: #999a;
  --secondary-text: #999a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --letter-color: #fff;
    --letter-color-rgb: 255, 255, 255;
    --letter-border: #fff6;
    --background-color: #000;
    --hover-color: #222;
    --end-background-color: rgb(0, 0, 0, 0.5);
    --secondary-text: #999;
    --no-color: #111a;
    --unknown-color: #999a;
  }
}

body,
html {
  color: var(--letter-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus-visible {
  text-decoration: underline;
}

#root {
  height: 100%;
}
