:root {
  --letter-color: #000;
  --letter-border: #000a;
  --background-color: #fff;
  --hover-color: #eee;
  --error-background-color: #ffb8b3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --letter-color: #fff;
    --letter-border: #fff6;
    --background-color: #000;
    --hover-color: #222;
  }
}

body {
  color: var(--letter-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a,
a:visited {
  color: #0aacf2;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}
